<% if(typeof errors !='undefined' ){ %>
    <% errors.forEach((error)=>{ %>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <%= error.msg %>
        </div>
        <% }); %>
            <% } %>


                <% if(success_msg !='' ) { %>
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <%= success_msg %>
                    </div>
                    <% } %>

                        <% if(error_msg !='' ) { %>
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <%= error_msg %>
                            </div>
                            <% } %>

                                <% if(error !='' ) { %>
                                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <%= error %>
                                    </div>
                                    <% } %>